name: Attach HA Harman Lock Card ZIP on Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  attach-asset:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Package HA Harman Lock Card
        run: |
          cd custom_components/HA_Harman_Lock_Card
          zip -r __artifact__.zip .
          mv __artifact__.zip $GITHUB_WORKSPACE/HA_Harman_Lock_Card.zip
          echo "ASSET=HA_Harman_Lock_Card.zip" >> $GITHUB_ENV

      - name: Upload ZIP Asset
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: ${{ env.ASSET }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
